//  css styles for White Lotus 

* {
	margin: 0px;
	padding: 0px;
}

div, section, article, header, nav, ul, p {
	display: block;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

body {
	width: 100%;
	font-family: "Adobe Caslon Pro", Arial, Sans-Serif;
	background-color: rgb(128, 128,128);
}

.container {
	width: 75%;
	margin: 20px auto 20px auto;
	background-image: url("../images/body-background.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
}

.search-container {
	float: right;
	margin: 30px 20px 10px 20px;

}

.product-box {
	display: block;
	height: 22px;
}

.logo {

	margin: -15px  20px 0px 20px;
}
/* global navigation  and page nav */

nav.global-nav {
	float: right;
	margin-top: 15px;
	
}

.page-nav {
	width: 100%;
	height: 75px;
	clear: right;
	display: block;
	float: right;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;

}

ul.page-list {
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	/* border: 1px solid blue; */
}

ul.global-list  li, ul.page-list li {
	display: inline;
	margin-right: 15px;
	/* border: 1px solid orange; */

}

ul.global-list  li a, ul.page-list li a {
	text-decoration: none;
	font-style:normal;
	color: black;
}

ul.global-list  li a {
	font-size: 10pt;
	font-weight: 600;
}

ul.global-list  li a:hover {
	text-decoration: underline;
}

.icons {
	margin-top: 4px;
}

ul.page-list li a {
	font-size: 16pt;
	font-weight: bold;
	/* border: 1px solid red; */
}

ul.page-list li:hover {
	border-bottom: 3px solid black;

}

/* Summary of a product */
.summary-feature-focus {
	width: 50%;
	float: right;
	margin-right: 30px;
}

.featured-products {
	clear: right;
}